.foo { background-image: url("versionerUrl(img1.jpg)"); }
.bar { background-image: url("versionerUrl(img2.jpg)"); }
.baz { background-image: url("versionerUrl(img1.jpg)"); }
.foobar { background-image: url("versionerUrl(dir1/abc.jpg)"); }